.mycontainer {
    background-color: #1e1b1b   ;
    
}
.nav-link{
    color: #ffffff;
    font-family: 'Bruno Ace', cursive;
    font-size: 0.5cm;   
}

.navbar-nav .nav-link:hover {
    color: lightsalmon;
    
 }

 .navigation{
    font-family: 'Bruno Ace', cursive;

 }

 .background {
    position: relative; 
    height: 1000px;
    width: auto;
  }

  .background img {
    
    position: absolute;
    
    width: 100%;
    z-index: -1;
  }
 
  

  .background h3 {
    position: relative;
    z-index: 1;
  }

.container{
    
    font-family: 'Kaushan Script', cursive;


}

.footer{
    font-family: 'Bruno Ace', cursive;
    background-color: #1e1b1b;
    color: #ffffff;
}
.logo{
    height: 100px;
}

body{
    margin: 0;
    padding: 0; 
    
    
}





